.channel-form-container {
  margin: 0 auto;
  width: 600px;
  padding: 25px;

  input {
    margin-bottom: 20px;
  }
}

button + button {
  margin-right: 10px;
}

.cancel-button {
  background: #fff;
  border: 1px solid grey;
}

button[disabled] {
  background: grey;
  border-color: grey;
  &:hover {
    background: grey;
    border-color: grey;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
